unsafe-perm=true
@acko-ui-kit:registry=https://nexus-prod.acko.in/repository/acko-npm/
@acko-tech:registry=https://node-registry.bit.cloud
@acko-sdui:registry=https://nexus-prod.acko.in/repository/bff-framework
registry=https://registry.npmjs.org
@teambit:registry=https://node.bit.dev
//node.bit.dev/:_authToken=724e8503-ff83-4804-84b5-267acb2cd6a0
//node-registry.bit.cloud/:_authToken=724e8503-ff83-4804-84b5-267acb2cd6a0
always-auth=true